body{
    background-color:floralwhite;
    background-image:url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,yellow,black);

  }
  .topic>center>h1{
    color:blanchedalmond;
    font-family:sans-serif;
    margin-top: 2%;
  }
  img{
    border-color:white;
    border-radius: 40px;
    border-style: solid;
  }

.navbar {
  display:flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,2), 0 6px 6px rgba(0,0,0,5);
}

.brand-logo {
  font-size: 1.5rem;
  margin: .5rem;


}
.brand-logo img{
  border-radius: 50px;
  border: aliceblue solid 2px;
}


.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  font-family:sans-serif;
  font-size: large;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
      border: solid black;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
      font-size: large;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
  .abt img{
    width: 80%;
  }
  .products img{
    width:140px;
  }

}
  ul li:hover{
    background: linear-gradient(35deg,yellow,black);
    text-decoration: underline;
  }
  
  .h-main>h1{
    text-align: center;
     font-family:sans-serif;
     margin-left: 30%;
     margin-right: 30%;
     box-shadow: 0 10px 20px rgba(0,0,0,2), 0 6px 6px rgba(0,0,0,5);
     color:blanchedalmond;
  }
  .h-content {
    color:cornsilk;
    font-size: 20px;
    font-family:sans-serif;
    margin-left: 20%;
    margin-top: 7%;
    width: 250px;
    margin-bottom: 5%;
  }
  .pro-container h1{
    margin-right: 20%;
    margin-left: 20%; ;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
  }
  .products{
  width: 10%;
  margin-right: 20%;
    margin-left: 20%; ;
    padding-left: 10%;
    padding-right: 10%;
  }
  .products input{
    background: linear-gradient(35deg,yellow,black);
    color:blanchedalmond;
  }
  .products input:hover{
    opacity: 0.8;
    color: black;
  }
  .products2{
    max-width: 10%;
    margin-right: 20%;
    margin-left: 20%; ;
    padding-left: 10%;
    padding-right: 10%;
    flex-grow: 1;
  }
  .cont-form{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 20%;
  margin-left: 7%;
  margin-right: 7% ;
  margin-top: 5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,5);

}

  .act-form{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 20%;
    margin-left: 7%;
    margin-right: 7% ;
    margin-top: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,5);
  }
  #reg-form{
    border-style:inset;
    border-color:black;
    padding-bottom: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,6);
    background-color:rgba(0,0,0,0.6);
    width: 500px;
    max-width: 100%;
  }
  #reg-form input:hover{
    opacity: 0.7;
   }
  #usr-form{
    border-style:inset;
    border-color:black;
    padding-bottom: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,5);
    background-color:rgba(0,0,0,0.6);
    width: 500px;
    max-width: 100%;
  }
  #usr-form input:hover{
   opacity: 0.7;
  }
#usr-form h1{
color:wheat;
}
.c-button1{
  color:wheat;
}
.c-button2{
  color:wheat;
}
.r-but1{
color: wheat;
}
.r-but2{
color: wheat;
}

.abt{
  border: black;
  border-style: solid;
  margin: auto;
}
.abt-h2{
  line-height: 40px;
  margin-top: 7%;
  margin-bottom: 7%;
}
.abt-h1{
  font-family:sans-serif;
   margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 10px 20px rgba(0,0,0,2), 0 6px 6px rgba(0,0,0,8);
  color:blanchedalmond;
}
.abt img{
  border: black;
  border-style: solid;
  border-width: 10%;
}


.footer{
  background-color:black;
  top: 120px;
  padding-top: 3%;
  padding-bottom: 3%;
  display:flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 30%;
  margin-bottom: 0%;
}
.footer img:hover{
  opacity: 0.5;
}
.f-p{
  background-color: black;
  color:blanchedalmond;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
.slideshow{
  width:60%;
    position:relative;
    transform: translate(-50%,-50%);
    left: 100%;
    overflow:hidden;
    margin-top: 44%;
    margin-right: -50%;
    margin-left: -50%;
    padding-left:0%;
    padding-right: 0%;
    border-radius: 14%;
    box-shadow: 0 10px 20px rgba(0,0,0,2), 0 6px 6px rgba(0,0,0,5);
}

.wrapper{
  width: 100%;
    display:flex;
    animation: slide 20s infinite;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}
.home-container {
  position: relative;
  width: 45%;
  max-height: 80%;
  border-radius: 9%;
  margin:auto;
  margin-bottom: 50px;
}

.h-image {
  opacity: 1;
  display:block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: hidden;
}
.h-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.h-text>a{
  text-decoration: none;
  color: black;
}

.home-container:hover .h-image {
  opacity: 0.3;
}

.home-container:hover .h-middle {
  opacity: 1;
}
.main-container{
  margin-top:10%;
}
.h-text {
  background-color:gold;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.ch-container{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,5);
  margin-left: 25% ;
  margin-right: 25%;
}


